{% extends "main/header2.html" %}
{% load auth_extras %}
{% block content %}

{% include "main/includes/sidenav_admin.html" %}
<div class="container">
    
<form method="post">{% csrf_token %}
        {{ form.as_p }}
        <p>Grupos:</p>
        {% for group in object.groups.all %}
        <p><b> {{group.name}} </b></p>
        {% endfor %}
        <p>Orgs</p>
        {% for org in object.orgs.all %}
        <p> <b> {{org.name}} </b></p>
        {% endfor %}
    <input type="submit" value="Confirmar"> <a href="/utilizadores">Cancelar</a>

</form>

</div>
{% endblock %}