{% extends "processes/header2.html" %}

{% block content %}

				
				{% if perms.processes.test_GProc or  perms.processes.test_Analist %}
				{% include "processes/includes/sidenav_gpanalist.html" %}
				{% elif perms.processes.test_Admin %}
				{% include "processes/includes/sidenav_admin.html" %}
				{% endif %}
				
				
		
				{% if perms.processes.test_GProc or  perms.processes.test_Analist %}
				{% include "processes/includes/gp_main_area.html" %}
				{% elif perms.processes.test_Admin %}
				{% include "processes/includes/admin_main_area.html" %}
				{% endif %}
			
	
{% endblock %}