{% extends "processes/header2.html" %}
				{% block content %}
				
				{% include "processes/includes/sidenav.html" %}
				{% if perms.Users.test_GProc or  perms.Users.test_Analist %}
				<div class="container">
					<table class="table table-hover header-fixed">
						<thead>
							<tr class="d-flex">
								<th class="col-9">PAPÉIS</th>
								<th class="col-3 text-right">
									<a class="dropdown-toggle" id="sidebarCollapse" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span>Mais recente</span><i class="material-icons">arrow_drop_down</i></a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Mais antigo</a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_downward</i></a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_upward</i></a>
									</div>
								</th>
							</tr>
							<tr class="d-flex nobluebar">
								<td class="col-3"><b>Papel:</b> </td>
								<td class="col-3"><b>Actividades:</b> </td>
							
							</tr>
						</thead>
						<tbody>
								{% for role in roles %}
								<tr class="d-flex">
								
										<td class="col-3"><span><a href="/papeis/RoleDetail/{{role.id}}">{{role.role_name}} </a></span></td>
										<td class="col-3">
											{% for act in acts %}
											{% for rol in act.role.all %}
												{% if rol.id == role.id %}
													<br>
													{{act.activity_name}}
													{% endif %}
											{% endfor %}	
											{% endfor %}</td>
										</span></td>
										<td class="col-1"><b><a href="/papeis/RoleUpdate/{{role.id}} ">Editar</a></span></td>
										<td class="col-1"><b><a href="/papeis/RoleDelete/{{role.id}} ">Eliminar</a></span></td>
						
									</tr>
									{% endfor %}
							
						</tbody>
						<tfoot>
							<tr class="d-flex">
								<td class="col-9"><b><a href="/papeis/RoleCreate" class="novo"><i class="material-icons">add</i>Registar Papel</a></b></td>
								<td class="col-3 text-right"></td>
							</tr>
						</tfoot>
					</table>
				
            </div>
		</div>
		{% else %}
		<h2>Não tem permissão para visualizar esta página.</h2>
		{% endif %}	

		{% endblock %}
