{% extends "processes/header2.html" %}
				{% block content %}
				{% if perms.Users.test_GProc or  perms.Users.test_Analist %}
				{% include "processes/includes/sidenav.html" %}
				<div class="container">
					<table class="table table-hover header-fixed">
						<thead>
							<tr class="d-flex">
								<th class="col-9">PROCESSOS</th>
								<th class="col-3 text-right">
									<a class="dropdown-toggle" id="sidebarCollapse" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span>Mais recente</span><i class="material-icons">arrow_drop_down</i></a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Mais antigo</a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_downward</i></a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_upward</i></a>
									</div>
								</th>
							</tr>
							<tr class="d-flex nobluebar">
									<td class="col-3"><b>Nome:</b> </td>
									<td class="col-3"><b>Criado por:</b> </td>
								
								</tr>
						</thead>
						
						<tbody>
				
								{% for proc in procs %}
								<tr class="d-flex">
								
										<td class="col-3 align-middle" ><a href="/processos/ProcessDetail/{{proc.id}}" >{{proc.process_name}}</a> </td>
										{% if perms.Users.test_Admin %}
										<td class="col-3 align-middle"><a href="/utilizadores/UserDetail/{{proc.user.id}}" >{{proc.user.username}}</a> </td>
										{% else %}
										<td class="col-3">{{proc.user.username}} </td>	
										{% endif %}
									
										<td class="col-2">
												<button type="button" class="btn btn-default btn-sm">
														<a href="/processos/ProcessUpdate/{{proc.id}} "><span class="fas fa-edit"></span> <b>Editar</b></a>
														 
													  </button> 
								
													  <button type="button" class="btn btn-default btn-sm">
															<a href="/processos/ProcessDelete/{{proc.id}} "><span class="fas fa-trash-alt"></span> <b>Eliminar</b></a>
															 
														  </button> </td>
									</tr>
									{% endfor %}
						
						
								</tbody>
						<tfoot>
							<tr class="d-flex">
								<td class="col-9"><b><a href="/processos/ProcessCreate" class="novo"><i class="material-icons">add</i> Novo processo</a></b></td>
								<td class="col-3 text-right"></td>
							</tr>

						</tfoot>
					</table>
				
            </div>
		</div>
		{% endif %}

		{% endblock %}