{% extends "processes/header2.html" %}
				{% block content %}
				{% if perms.Users.test_GProc or  perms.Users.test_Analist %}
				{% include "processes/includes/sidenav_gpanalist.html" %}
				<div class="container">
					<table class="table table-hover header-fixed">
						<thead>
							<tr class="d-flex">
								<th class="col-9">PRODUTOS</th>
								<th class="col-3 text-right">
									<a class="dropdown-toggle" id="sidebarCollapse" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span>Mais recente</span><i class="material-icons">arrow_drop_down</i></a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Mais antigo</a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_downward</i></a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_upward</i></a>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
								{% for prod in prods %}
								<tr class="d-flex">
								
										<td class="col-3"><span><b>Produto: </b><a href="#">{{prod.product_name}} </a></span></td>
										<td class="col-3"><b>Formato: </b>{{prod.product_format}}</span></td>
										<td class="col-1"><b><a href="produtos/ProductUpdate/{{prod.id}} ">Editar</a></span></td>
										<td class="col-1"><b><a href="produtos/ProductDelete/{{prod.id}} ">Eliminar</a></span></td>
						
									</tr>
									{% endfor %}
						
						</tbody>
						<tfoot>
							<tr class="d-flex">
								<td class="col-9"><b><a href="/produtos/ProductCreate" class="novo"><i class="material-icons">add</i> Novo Produto</a></b></td>
								<td class="col-3 text-right"></td>
							</tr>
						</tfoot>
					</table>
				
            </div>
		</div>
		{% endif %}

		{% endblock %}