{% extends "processes/header2.html" %}

{% block content %}
{% if perms.Users.test_GProc %}
{% include "processes/includes/sidenav.html" %}
<div class="container">
    {%if act_procs|length > 0 %}
    Os seguintes processos estão associados:<br><br>
    {% for proc in act_procs %}
        <a href ="/processos/ProcessDetail/{{proc.id}}">{{proc}}</a>
        <hr>
        {% endfor %}
        <h3>Para prosseguir primeiro remova as associações listadas.</h3>
        {% endif %}
     
<form method="post">{% csrf_token %}
    
    {%if act_procs|length == 0 %}<p>Are you sure you want to delete <b>"{{ object.activity_name}}</b>"?</p><input type="submit" value="Confirm">{% endif %} <a href="/actividades">Cancelar</a>
</form>
</div>
{% endif %}
{% endblock %}
