{% extends "processes/header2.html" %}
{% block content %}
{% if perms.Users.test_GProc or perms.Users.test_Analist %}

{% include "processes/includes/sidenav.html" %}
<div class="container">
        <h3>Actividade: {{object.activity_name}} </h3>
        <hr>
          <div class="row">
            <div class="col-sm-2"> Descrição:</div>
            <div class="col-sm-4">{{object.description}}</div>
        </div>
      <hr>
        <p><a href="/actividades/ActivityUpdate/{{object.id}}"> Editar actividade</a></p>
        <br>
<div class = "row">
  <div class = "col-sm-6"> <h3>Padrões associados à actividade:</h3></div>
  <div class = "col-sm-6"> <h3>Padrões não associados:</h3></div>
      </div>
        <hr>
        <div class ="row">
        <div class = "col-sm-6  colseparator" >
        {% for pat in patterns %}
        <div class="row">
        <div class="col-sm-5"><a href="#">Name: &nbsp;{{pat}}</a></div>
        <div class="col-sm-4">User:&nbsp;{{pat.userid}}</div>
        <div class="col-sm-2"><a href="/actividades/PatternDessociate/{{object.id}}/{{pat.id}}">Desassociar</a></div>
        </div>
        {% endfor %}</div>
        <div class = "col-sm-6">
            {% for pat in non_patterns %}
            <div class="row">
            <div class="col-sm-6"><a href="#">{{pat}}</a></div>
            <div class="col-sm-4">{{pat.userid}}</div>
            <div class="col-sm-2"><a href="/actividades/PatternAssociate/{{object.id}}/{{pat.id}}">>Associar</a></div>
            </div>
            {% endfor %}</div></div>
        <hr>
        <br>
        <div class = "row">
            <div class = "col-sm-6"> <h3>Produtos associados à actividade:</h3></div>
            <div class = "col-sm-6"> <h3>Produtos não associados:</h3></div>
                </div>
        <hr>
        <div class ="row">
            <div class = "col-sm-6  colseparator" >
        {% for product in act_products %}
        <div class="row">
        <div class="col-sm-5"> <a href="/produtos/ProductDetail/{{product.id}}">{{product}}</a></div>
        <div class="col-sm-4">{{product.product_format}}</div>
        <div class="col-sm-2"><a href="/produtos/ProductDessociate/{{product.id}}/{{object.id}}">Desassociar</a></div>
        </div>
        {% endfor %}</div>
        <div class = "col-sm-6" >
            {% for product in non_products %}
            <div class="row">
            <div class="col-sm-6"><a href="/produtos/ProductDetail/{{product.id}}">{{product}}</a></div>
            <div class="col-sm-4">{{product.product_format}}</div>
            <div class="col-sm-2"><a href="/produtos/ProductAssociate/{{product.id}}/{{object.id}}">Associar</a></div>
            </div>
            {% endfor %}</div>
          
      </div>
        <hr>
        <br>

        <div class = "row">
            <div class = "col-sm-6"> <h3>Papéis associados à actividade:</h3></div>
            <div class = "col-sm-6"> <h3>Papéis não associados:</h3></div>
                </div>
        <hr>
        <div class ="row">
            <div class = "col-sm-6  colseparator" >
        {% for rol in roles %}
        <div class="row">
            <div class="col-sm-5"><a href="/papeis/RoleDetail/{{rol.id}}">{{rol}}</a></div>
            <div class="col-sm-4">{{rol.description}}</div>
            <div class="col-sm-2"><a href="/actividades/RoleDessociate/{{object.id}}/{{rol.id}}">Desassociar</a></div>
        </div>
        {% endfor %}</div>
        <div class = "col-sm-6" >
            {% for rol in non_roles %}
            <div class="row">
            <div class="col-sm-6"><a href="/papeis/RoleDetail/{{rol.id}}">{{rol}}</a></div>
            <div class="col-sm-4">{{rol.description}}</div>
            <div class="col-sm-2"><a href="/actividades/RoleAssociate/{{object.id}}/{{rol.id}}">Associar</a></div>
            </div>
            {% endfor %}</div>
      
      </div>
      <hr>
        <br>
        {% if object.process == None %}
        <div class = "row">
          <div class = "col-sm-12"> <h3>Processos a associar:</h3></div>
              </div>
      <hr>
      {% for proc in procs %}
      <div class="row">
          <div class="col-sm-5"><a href="/processos/ProcessDetail/{{proc.id}}">{{proc}}</a></div>
          <div class="col-sm-4">{{proc.description}}</div>
          <div class="col-sm-2"><a href="/actividades/ActivitySwap/{{object.id}}/{{proc.id}}">Associar</a></div>
      </div>
      {% endfor %}
      {% else %}
      <div class = "row">
        <div class = "col-sm-12"> <h3>Processo associado:</h3>{{object.process}}</div>
            </div>
      {% endif %}
    </div>


        

        <hr>
        <br>
        {% endif %}
        {% endblock %}