{% extends "processes/header2.html" %}

{% block content %}

{% include "processes/includes/sidenav.html" %}
<div class="container">
    {%if act_procs|length > 0 %}
    Os seguintes processos estão associados:<br><br>
    {% for proc in act_procs %}
    <div class="row">
        <div class ="col-sm-6">
        <a href ="/processos/ProcessDetail/{{proc.id}}">{{proc}}</a>
        </div>
        <div class ="col-sm-6">
                <a href ="/actividades/ActivityDessociate/{{object.id}}/{{proc.id}}">Dessassociar</a>
                </div>
    </div>
        <hr>
        {% endfor %}<br>
        <h3>Para prosseguir primeiro remova as associações listadas.</h3>
        {% endif %}
     
<form method="post">{% csrf_token %}
    
    {%if act_procs|length == 0 %}<p>Are you sure you want to delete <b>"{{ object.activity_name}}</b>"?</p><input type="submit" value="Confirm">{% endif %} <a href="/actividades">Cancelar</a>
</form>
</div>

{% endblock %}