{% extends "processes/header2.html" %}
{% block content %}
{% if perms.Users.test_GProc %}

{% include "processes/includes/sidenav.html" %}
<div class="container">
        <h3>Actividade: {{object.activity_name}} </h3>
        <hr>
          <div class="row">
            <div class="col-sm-2"> Descrição:</div>
            <div class="col-sm-4">{{object.description}}</div>
        </div>
      <hr>
        <p><a href="/actividades/ActivityUpdate/{{object.id}}"> Editar actividade</a></p>
        <br>
<div class = "row">
  <div class = "col-sm-6"> <h3>Processos associados à actividade:</h3></div>
  <div class = "col-sm-6"> <h3>Processos não associados:</h3></div>
      </div>
        <hr>
        <div class ="row">
        <div class = "col-sm-6  colseparator" >
        {% for proc in procs %}
        <div class="row">
        <div class="col-sm-5"><a href="/processos/ProcessDetail/{{proc.id}}">{{proc}}</a></div>
        <div class="col-sm-4">{{proc.user}}</div>
        <div class="col-sm-2"><a href="/actividades/ActivityDessociate/{{object.id}}/{{proc.id}}">Desassociar</a></div>
        </div>
        {% endfor %}</div>
        <div class = "col-sm-6">
            {% for proc in non_procs %}
            <div class="row">
            <div class="col-sm-6"><a href="/processos/ProcessDetail/{{proc.id}}">{{proc}}</a></div>
            <div class="col-sm-4">{{proc.user}}</div>
            <div class="col-sm-2"><a href="/actividades/ActivityAssociate/{{object.id}}/{{proc.id}}">>Associar</a></div>
            </div>
            {% endfor %}</div></div>
        <hr>
        <br>
        <div class = "row">
            <div class = "col-sm-6"> <h3>Produtos associados à actividade:</h3></div>
            <div class = "col-sm-6"> <h3>Produtos não associados:</h3></div>
                </div>
        <hr>
        <div class ="row">
            <div class = "col-sm-6  colseparator" >
        {% for product in act_products %}
        <div class="row">
        <div class="col-sm-5">{{product}}</div>
        <div class="col-sm-4">{{product.product_format}}</div>
        <div class="col-sm-2"><a href="/produtos/ProductDessociate/{{product.id}}/{{object.id}}">Desassociar</a></div>
        </div>
        {% endfor %}</div>
        <div class = "col-sm-6" >
            {% for product in non_products %}
            <div class="row">
            <div class="col-sm-6">{{product}}</div>
            <div class="col-sm-4">{{product.product_format}}</div>
            <div class="col-sm-2"><a href="/produtos/ProductAssociate/{{product.id}}/{{object.id}}">Associar</a></div>
            </div>
            {% endfor %}</div>
          
      </div>
        <hr>
        <br>

        <div class = "row">
            <div class = "col-sm-6"> <h3>Papéis associados à actividade:</h3></div>
            <div class = "col-sm-6"> <h3>Papéis não associados:</h3></div>
                </div>
        <hr>
        <div class ="row">
            <div class = "col-sm-6  colseparator" >
        {% for rol in roles %}
        <div class="row">
            <div class="col-sm-5"><a href="/papeis/RoleDetail/{{rol.id}}">{{rol}}</a></div>
            <div class="col-sm-4">{{rol.description}}</div>
            <div class="col-sm-2"><a href="/actividades/RoleDessociate/{{object.id}}/{{rol.id}}">Desassociar</a></div>
        </div>
        {% endfor %}</div>
        <div class = "col-sm-6" >
            {% for rol in non_roles %}
            <div class="row">
            <div class="col-sm-6"><a href="/papeis/RoleDetail/{{rol.id}}">{{rol}}</a></div>
            <div class="col-sm-4">{{rol.description}}</div>
            <div class="col-sm-2"><a href="/actividades/RoleAssociate/{{object.id}}/{{rol.id}}">Associar</a></div>
            </div>
            {% endfor %}</div>
      
      </div>
        <hr>
        <br>
        {% endif %}
        {% endblock %}