{% extends "processes/header2.html" %}

{% block content %}

{% include "processes/includes/sidenav.html" %}
{% if perms.Users.test_GProc or perms.Users.test_Analist  %}   
<div class="container">
<form method="post">{% csrf_token %}
    <p>De certeza que pretende eliminar o produto <b>"{{ object.product_name}}</b>"?</p>
    <input type="submit" value="Confirm"> <a href="/produtos">Cancelar</a>
</form>
</div>
{% else %}
<h2>Não tem permissão para realizar esta ação.</h2>
{% endif %}
{% endblock %}