{% extends "processes/header2.html" %}
{% block content %}
{% if perms.Users.test_GProc %}

{% include "processes/includes/sidenav.html" %}
<div class="container">
        <h3>Papél: {{object}} </h3>
        <hr>
          <div class="row">
            <div class="col-sm-2"> Descrição:</div>
            <div class="col-sm-4">{{object.description}}</div>
        </div>
      <hr>
         
        <p><a href="/papeis/RoleUpdate/{{object.id}}"> Editar actividade</a></p>
        <br>
<div class = "row">
  
  <div class = "col-sm-6"> <h3>Actividades associadas à actividade:</h3></div>
  <div class = "col-sm-6"> <h3>Actividades não associadas:</h3></div>
      </div>
        <hr>
        <div class ="row">
        <div class = "col-sm-6  colseparator" >
        {% for act in acts %}
        <div class="row">
        <div class="col-sm-6"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
        <div class="col-sm-5"><a href="/actividades/RoleDessociate/{{act.id}}/{{object.id}}">Dessasociar</a></div>
        </div>
        {% endfor %}</div>
        <div class = "col-sm-6">
            {% for act in non_acts %}
            <div class="row">
              <div class="col-sm-6"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
              <div class="col-sm-6"><a href="/actividades/RoleAssociate/{{act.id}}/{{object.id}}">Desassociar</a></div>    </div>
            {% endfor %}</div></div>
        <hr>
        <br>
        <div class = "row">
            <div class = "col-sm-6"> <h3>Produtos associados à actividade:</h3></div>
            <div class = "col-sm-6"> <h3>Produtos não associados:</h3></div>
                </div>
        <hr>
        <div class ="row">
            <div class = "col-sm-6  colseparator" >
        {% for product in products %}
        <div class="row">
        <div class="col-sm-5"><a href ="/produtos/ProductDetail/{{product.id}}">{{product}}</a></div>
        <div class="col-sm-4">{{product.product_format}}</div>
        <div class="col-sm-2"><a href="/papeis/ProductDessociate/{{product.id}}/{{object.id}}">Desassociar</a></div>
        </div>
        {% endfor %}</div>
        <div class = "col-sm-6" >
            {% for product in non_products %}
            <div class="row">
            <div class="col-sm-6"><a href ="/produtos/ProductDetail/{{product.id}}">{{product}}</a></div>
            <div class="col-sm-6">{{product}}</div>
            <div class="col-sm-4">{{product.product_format}}</div>
            <div class="col-sm-2"><a href="/papeis/ProductAssociate/{{product.id}}/{{object.id}}">Associar</a></div>
            </div>
            {% endfor %}</div>
          
      </div>
        <hr>
        <br>

        {% endif %}
        {% endblock %}